<div class="liveForm">

    <h3 class="<%= @question.id%>"><%= @question.description %></h1>
    <% @answers.each_with_index do |answer, index| %>
      <input type="radio" name="answer<%= index + 1 %>" value="<%= answer.id %>"><%= answer.answer %><br>
    <% end %>


</div>


